

@media screen and (max-device-width: 700px) {
.singupform{
    width: 100% !important;
    right: 0rem !important;
}
}
@media screen and (max-device-width: 900px) {
.info{
   display: none !important;
}
}